{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.title' | trans | capitalize }}{% endblock %}

{% block body %}
    <section>
        <p>{{ "homepage.content" | trans | capitalize }}</p>
    </section>
{% endblock %}
