{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <section>
        <h2>{{ article.titre }}</h2>
        <div>
            {{ article.contenu | raw }}
        </div>
    </section>
    <hr/>
{% endblock %}
