{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.title' | trans | capitalize }}{% endblock %}

{% block body %}
    <section>
        <p>{{ 'contact.content' | trans | capitalize }}</p>
    </section>
{% endblock %}
